    <meta charset="utf-8" />
    <meta name="author" content="Venmond">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    

    <title>子归智能</title>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="./images/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="./images/ico/favicon.png">
    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="./css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="./css/style.css" rel="stylesheet" type="text/css">
    <link href="./css/font-entypo.css" rel="stylesheet" type="text/css">    
    <link href="./css/fonts.css"  rel="stylesheet" type="text/css">            
    <link href="./plugins/jquery-ui/jquery-ui.custom.min.css" rel="stylesheet" type="text/css">    
    <link href="./plugins/prettyPhoto-plugin/css/prettyPhoto.css" rel="stylesheet" type="text/css">
    <link href="./plugins/isotope/css/isotope.css" rel="stylesheet" type="text/css">
    <link href="./plugins/pnotify/css/jquery.pnotify.css" media="screen" rel="stylesheet" type="text/css">    
	<link href="./plugins/google-code-prettify/prettify.css" rel="stylesheet" type="text/css">    
    <link href="./plugins/mCustomScrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
    <link href="./plugins/tagsInput/jquery.tagsinput.css" rel="stylesheet" type="text/css">
    <link href="./plugins/bootstrap-switch/bootstrap-switch.css" rel="stylesheet" type="text/css">    
    <link href="./plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css">    
    <link href="./plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css">
    <link href="./plugins/colorpicker/css/colorpicker.css" rel="stylesheet" type="text/css">            
    <link href="./css/theme.css" rel="stylesheet" type="text/css">
    <link href="./css/chrome.css" rel="stylesheet" type="text/chrome">
    <link href="./css/theme-responsive.css" rel="stylesheet" type="text/css"> 
    <link href="/Common/web/css/custom.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="./js/modernizr.js"></script> 
    <script type="text/javascript" src="./js/mobile-detect.min.js"></script> 
    <script type="text/javascript" src="./js/mobile-detect-modernizr.js"></script> 