  <div class="vd_navbar vd_nav-width vd_navbar-tabs-menu vd_navbar-left  ">
	
	<div class="navbar-menu clearfix">
        <div class="vd_panel-menu hidden-xs">
            <span data-original-title="Expand All" data-toggle="tooltip" data-placement="bottom" data-action="expand-all" class="menu" data-intro="<strong>Expand Button</strong><br/>To expand all menu on left navigation menu." data-step=4 >
                <i class="fa fa-sort-amount-asc" style="margin-top: 5px;"></i>
            </span>                   
        </div>
    	<h3 class="menu-title hide-nav-medium hide-nav-small">UI Features</h3>
        <div class="vd_menu">
        	 <ul>
    <li>
    	<a href="javascript:void(0);" data-action="click-trigger">
        	<span class="menu-icon"><i class="fa fa-dashboard"></i></span> 
            <span class="menu-text">Dashboard</span>  
            <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
       	</a>
     	<div class="child-menu"  data-action="click-target">
            <ul>
                <li>
                    <a href="index.html">
                        <span class="menu-text">Default Dashboard</span>  
                    </a>
                </li>              
                <li>
                    <a href="index-ecommerce.html">
                        <span class="menu-text">E-Commerce Dashboard</span>  
                    </a>
                </li> 
                <li>
                    <a href="index-analytics.html">
                        <span class="menu-text">Analytics Dashboard</span>  
                    </a>
                </li> 
                <li>
                    <a href="index-blogging.html">
                        <span class="menu-text">Blogging Dashboard</span>  
                    </a>
                </li>  
                <li>
                    <a href="index-event-management.html">
                        <span class="menu-text">Event Management Dashboard</span>  
                        <span class="menu-badge"><span class="badge vd_bg-yellow">NEW</span></span>
                    </a>
                </li>                                                                                                  
            </ul>   
      	</div>
    </li>  
 	
    <li>
    	<a href="javascript:void(0);" data-action="click-trigger">
        	<span class="menu-icon"><i class="icon-palette"> </i></span> 
            <span class="menu-text">Skin Playground</span>  
            <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
       	</a>
     	<div class="child-menu"  data-action="click-target">
            <ul>  
                <li>
                    <a href="skin-clean-minimalist.html">
                        <span class="menu-text">Clean Minimalist Nav</span>  
                    </a>
                </li> 
                <li>
                    <a href="skin-nav-medium-profile-dark.html">
                        <span class="menu-text">Dark Medium Navbar</span>  
						<span class="menu-badge"><span class="badge vd_bg-red">Hot</span></span>                                    
                    </a>
                </li>                                                                                               
            </ul>   
      	</div>
    </li> 
    <li>
    	<a href="javascript:void(0);" data-action="click-trigger">
        	<span class="menu-icon entypo-icon"><i class="icon-bookmark"> </i></span> 
            <span class="menu-text">Starting Layouts</span>  
            <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
       	</a>
     	<div class="child-menu"  data-action="click-target">
            <ul>  
                <li>
                    <a href="layouts-boxed-custom-width-no-responsive.html">
                    	<span class="menu-text">Boxed Custom Width No Responsive</span>  
                    </a>
                </li>                                               
                <li>
                    <a href="layouts-fixed-nav.html">
                        <span class="menu-text">Layout Fixed Nav</span>  
                    </a>
                </li>
                <li>
                    <a href="layouts-no-header-fixed-nav.html">
                        <span class="menu-text">No Header Fixed Nav</span>  
                    </a>
                </li>                                                                                                                                                                                                               
            </ul>   
      	</div>
    </li>               
    <li>
    	<a href="javascript:void(0);"   data-action="click-trigger">
            <span class="menu-icon"><i class="fa fa-sitemap"> </i></span>
            <span class="menu-text">Nav Variations</span>
            <span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>            
        </a>
      	<div class="child-menu"   data-action="click-target">
            <ul class="clearfix">
                <li> 
                	<a href="javascript:" data-action="click-trigger"> 
                    	<span class="menu-text">Top Navigation</span> 
            			<span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
                    </a> 
                    <div class="child-menu"   data-action="click-target">
                        <ul class="clearfix">
                            <li> <a href="nav-top-search.html">Search </a> </li>
                            <li> <a href="nav-top-menu.html">Mega Menu </a> </li>
                            <li> <a href="nav-top-clean-style.html"> Clean Style </a> </li>                            
                        </ul>
                    </div>              
                </li>
                <li> 
                	<a href="javascript:" data-action="click-trigger"> 
                    	<span class="menu-text">Bottom Navigation</span> 
            			<span class="menu-badge"><span class="badge vd_bg-black-30"><i class="fa fa-angle-down"></i></span></span>
                    </a> 
                    <div class="child-menu"   data-action="click-target">
                        <ul class="clearfix">
                            <li> <a href="nav-bottom-widget.html"> Chat Widget </a> </li>
                            <li> <a href="nav-bottom-clean-menu.html"> Clean With Menu </a> </li>
                            <li> <a href="nav-bottom-clean-center.html"> Clean Center Text </a> </li>
                        </ul>
                    </div>               
                </li>                                 
            </ul>
      	</div>
    </li>
    <li>
    	<a href="">
        	<span class="menu-icon"><i class="fa fa-shopping-cart"></i></span> 
            <span class="menu-text">Buy This Theme</span>  
            <span class="menu-badge"><span class="badge vd_bg-red"><i class="fa fa-exclamation"></i></span></span>
       	</a>
    </li>   
                 
</ul>
<!-- Head menu search form ends -->         </div>             
    </div>
    <div class="navbar-spacing clearfix">
    </div>
    <div class="vd_menu vd_navbar-bottom-widget">
        <ul>
            <li>
                <a href="pages-logout.html">
                    <span class="menu-icon"><i class="fa fa-sign-out"></i></span>          
                    <span class="menu-text">Logout</span>             
                </a>
                
            </li>
        </ul>
    </div>     
</div>
