<html>

<head>
  <% include ../../../../../views/head %>
</head>

<body id="tables" class="full-layout nav-right-hide nav-right-start-hide nav-top-fixed responsive clearfix" data-active="tables " data-smooth-scrolling="1">

<div class="vd-bady">
  <% include ../../../../../views/header %>
  <div class="content">
    <div class="container">
      <% include ../../../../../views/menu %>

      <div class="vd_content-wrapper" style="min-height: 1059px;">
        <div class="vd_container" style="min-height: 1059px;">
          <div class="vd_content clearfix" style="min-height:1059px;">
            <div class="vd_head-section clearfix">
              <div class="vd_panel-header">
                <ul class="breadcrumb">
                  <li><a href="index.html">主页</a> </li>
                  <li><a href="listtables-tables-variation.html">系统设置</a> </li>
                  <li class="active">用户管理</li>
                </ul>
                <div class="vd_panel-menu hidden-sm hidden-xs" data-intro="<strong>Expand Control</strong><br/>To expand content page horizontally, vertically, or Both. If you just need one button just simply remove the other button code." data-step="5" data-position="left">
                  <div data-action="remove-navbar" data-original-title="移除侧边菜单" data-toggle="tooltip" data-placement="bottom" class="remove-navbar-button menu"> <i class="glyphicon fa fa-arrows-h"></i> </div>
                  <div data-action="remove-header" data-original-title="移除顶部菜单" data-toggle="tooltip" data-placement="bottom" class="remove-header-button menu"> <i class="glyphicon fa fa-arrows-v"></i> </div>
                  <div data-action="fullscreen" data-original-title="移除侧边及顶部菜单" data-toggle="tooltip" data-placement="bottom" class="fullscreen-button menu"> <i class="glyphicon glyphicon-fullscreen"></i> </div>
                </div>
              </div>
            </div>

            <div class="vd_title-section clearfix">
              <div class="vd_panel-header">
                <h1>用户管理</h1>
                <small class="subtitle">用户及用户组管理</small> 
              </div>
            </div>

            <div class="vd_content-section clearfix">
              <div class="row">

                <div class="col-md-3">
                  <div style="margin-bottom: 5px;">
                    <button class="btn vd_btn vd_bg-twitter" type="button" data-toggle="modal" data-target="#Modal1">新增 <i class=' fa fa-plus-circle'></i></button>
                    <button class="btn vd_btn vd_bg-yellow" type="button" data-toggle="modal" data-target="#Modal2">编辑 <i class=' fa fa-pencil'></i></button>
                    <button class="btn vd_btn vd_bg-googleplus" type="button" data-toggle="modal" data-target="#Modal3">删除 <i class=' fa fa-times'></i></button>
                  </div>

                  <!--用户组表-->
                  <div class="panel widget">
                    <div class="panel-heading vd_bg-grey">
                      <h3 class="panel-title">用户组</h3> 
                    </div>
                    <div class="panel-body table-responsive">
                      
                    </div>
                  </div>
                </div>

                <div class="col-md-9">
                  <div style="margin-bottom: 5px;">
                    <form class="form-inline" style="margin-bottom: 5px;">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                          <input type="text" class="form-control" id="username" placeholder="用户名称">
                      </div>
                      <button class="btn vd_btn vd_bg-twitter" type="button" data-toggle="modal" data-target="#Modal4">新增 <i class=' fa fa-plus-circle'></i></button>
                    </form>
                  </div>
                  
                  <!--用户表-->
                  <div class="panel widget">
                    <div class="panel-heading vd_bg-grey">
                      <h3 class="panel-title">用户详细信息</h3>
                    </div>
                    <div class="panel-body table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th></th>
                            <th>用户名称</th>
                            <th>用户类型</th>
                            <th>用户备注</th>
                            <th>启用/禁用</th>
                            <th>操作</th>
                          </tr>
                        </thead>
                        
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>Johann Un</td>
                            <td class="center">2010/02/03</td>
                            <td class="center">Member</td>
                            <td class="center"><input type="checkbox" data-rel="switch" data-size="mini" data-wrapper-class="green" checked></td>
                            <td class="menu-action">
                              <a data-original-title="查看" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-green vd_green"> <i class="fa fa-eye"></i> </a> 
                              <a data-original-title="编辑" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-yellow vd_yellow"> <i class="fa fa-pencil"></i> </a> 
                              <a data-original-title="删除" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-red vd_red"> <i class="fa fa-times"></i> </a></td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>Petrus Dar</td>
                            <td class="center">2012/01/15</td>
                            <td class="center">Staff</td>
                            <td class="center"><input type="checkbox" data-rel="switch" data-size="mini" data-wrapper-class="green" checked></td>
                            <td class="menu-action"><a data-original-title="view" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-green vd_green"> <i class="fa fa-eye"></i> </a> <a data-original-title="edit" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-yellow vd_yellow"> <i class="fa fa-pencil"></i> </a> <a data-original-title="delete" data-toggle="tooltip" data-placement="top" class="btn menu-icon vd_bd-red vd_red"> <i class="fa fa-times"></i> </a></td>
                          </tr>
                          
                        </tbody>
                      </table>
                      <ul class="pagination">
                        <li><a href="#">«</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                      </ul>
                    </div>
                  </div>
                </div> 
              </div>
            </div>
          </div>
        </div>

                  <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header vd_bg-blue vd_white">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                          <h4 class="modal-title" id="myModalLabel">新增用户组</h4>
                        </div>
                        <div class="modal-body"> 
                        	<form class="form-horizontal">
                            <div class="form-group">
                              <label class="col-sm-4 control-label">First Name</label>
                              <div class="col-sm-7 controls">
                                <input class="input-border-btm" type="text">
                              </div>
                            </div>                    
                          </form>
                        </div>
                        <div class="modal-footer background-login">
                          <button type="button" class="btn vd_btn vd_bg-grey" data-dismiss="modal">取消</button>
                          <button type="button" class="btn vd_btn vd_bg-green">确认</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header vd_bg-blue vd_white">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                          <h4 class="modal-title" id="myModalLabel">编辑用户组</h4>
                        </div>
                        <div class="modal-body"> 
                        	<form class="form-horizontal">
                            <div class="form-group">
                              <label class="col-sm-4 control-label">First Name</label>
                              <div class="col-sm-7 controls">
                                <input class="input-border-btm" type="text">
                              </div>
                            </div>                    
                          </form>
                        </div>
                        <div class="modal-footer background-login">
                          <button type="button" class="btn vd_btn vd_bg-grey" data-dismiss="modal">取消</button>
                          <button type="button" class="btn vd_btn vd_bg-green">确认</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="modal fade" id="Modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header vd_bg-blue vd_white">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                          <h4 class="modal-title" id="myModalLabel">删除用户组</h4>
                        </div>
                        <div class="modal-body"> 
                        	<form class="form-horizontal">
                            <div class="form-group">
                              <label class="col-sm-4 control-label">First Name</label>
                              <div class="col-sm-7 controls">
                                <input class="input-border-btm" type="text">
                              </div>
                            </div>                    
                          </form>
                        </div>
                        <div class="modal-footer background-login">
                          <button type="button" class="btn vd_btn vd_bg-grey" data-dismiss="modal">取消</button>
                          <button type="button" class="btn vd_btn vd_bg-googleplus">确认</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="modal fade" id="Modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header vd_bg-blue vd_white">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                          <h4 class="modal-title" id="myModalLabel">删除用户组</h4>
                        </div>
                        <div class="modal-body"> 
                        	<form class="form-horizontal">
                            <div class="form-group">
                              <label class="col-sm-4 control-label">First Name</label>
                              <div class="col-sm-7 controls">
                                <input class="input-border-btm" type="text">
                              </div>
                            </div>                    
                          </form>
                        </div>
                        <div class="modal-footer background-login">
                          <button type="button" class="btn vd_btn vd_bg-grey" data-dismiss="modal">取消</button>
                          <button type="button" class="btn vd_btn vd_bg-googleplus">确认</button>
                        </div>
                      </div>
                    </div>
                  </div>

      </div>
    </div>
  </div>


<% include ../../../../../views/footer %>
</div>
<% include ../../../../../views/all_js %>
</body>
</html>