<!DOCTYPE html>
<html>
<head>
<% include ../../../../../views/head %>
</head>
<body ng-app='login' ng-controller='loginCtrl' id="pages" class="full-layout no-nav-left no-nav-right  nav-top-fixed background-login  responsive remove-navbar login-layout   clearfix" data-active="pages "  data-smooth-scrolling="1">
     
<div class="vd_body">

<!-- Header Start -->

<!-- Header Ends --> 
 <!--<div class="content">-->
 <!--<div class="container">-->
    
    <!-- Middle Content Start -->
    
    <!--<div class="vd_content-wrapper">
      <div class="vd_container">
        <div class="vd_content clearfix">-->
          <div class="vd_content-section clearfix">
            <div class="vd_login-page">
              <div class="heading clearfix">
                <div class="logo">
                  <h2 class="mgbt-xs-5">子归智能</h2>
                </div>
              </div>  
              <div class="panel widget">
                <div class="panel-body">
                  <div class="login-icon entypo-icon"> <i class="icon-key"></i> </div>
                  <form class="form-horizontal" id="login-form" action="#" role="form">                  
                    <div class="form-group  mgbt-xs-20">
                      <div class="col-md-12">
                        <div class="label-wrapper sr-only">
                          <label class="control-label" for="email">Email</label>
                        </div>
                        <div class="vd_input-wrapper" id="email-input-wrapper"> <span class="menu-icon"> <i class="fa fa-envelope"></i> </span>
                          <input type="text" ng-model="user.Name" placeholder="账户" id="Account" name="Account" class="required" required>
                        </div>
                        <div class="label-wrapper">
                          <label class="control-label sr-only" for="password">Password</label>
                        </div>
                        <div class="vd_input-wrapper" id="password-input-wrapper" > <span class="menu-icon"> <i class="fa fa-lock"></i> </span>
                          <input type="password" ng-model="user.Password" placeholder="密码" id="password" name="password" class="required" required >
                        </div>
                      </div>
                    </div>
                    <div id="vd_login-error" class="alert alert-danger hidden"><i class="fa fa-exclamation-circle fa-fw"></i> Please fill the necessary field </div>
                    <div class="form-group">
                      <div class="col-md-12 text-center mgbt-xs-5">
                        <button class="btn vd_bg-green vd_white width-100" ng-click="checkuser()">登录</button>
                      </div>
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-xs-6">
                            <div class="vd_checkbox">
                              <input type="checkbox" id="checkbox-1" value="1">
                              <label for="checkbox-1"> 记住密码</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>   
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<a id="back-top" href="#" data-action="backtop" class="vd_back-top visible"> <i class="fa  fa-angle-up"> </i> </a>

<script type="text/javascript" src="./js/jquery.js"></script> 
<script type="text/javascript" src="./js/bootstrap.min.js"></script>
<script type="text/javascript" src='./plugins/jquery.gritter/js/jquery.gritter.js'></script>
<script src="./js/angular.min.js"></script> 
<script type="text/javascript" src='./plugins/jquery-ui/jquery-ui.custom.min.js'></script>
<script src='./Common/web/controller/loginController.js'></script>


<script type="text/javascript">
$(document).ready(function() {
	
 
                // $.gritter.add({
                //     position: 'bottom-right',
                //     title: '修改用户成功！',
                //     time:'1000000'
                // });

});
</script>
</body>
</html>
